.task-name {
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 2px;
}

.task {
  padding: 10px;
}

.full-width {
  width: 100%;
}

.time {
  margin-right: 20px;
}

.is-not-top {
  border-top: 1px solid #efefef;
}

.btn-danger {
  margin-left: 10px;
}