.menu {
  border: 1px solid #dfdfdf;
  margin-top: 10px;
  box-shadow: 1px 1px 5px #dfdfdf;
  background-color: #fff;
  padding: 15px;
}

.title {
  margin-right: auto;
}

.search {
  width: 300px;
  margin-left: 5px;
}

nav {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #efefef;
}

a {
  font-weight: bold;
  margin-right: 10px;
  color: #bfbfbf;
}

a:hover {
  text-decoration: none;
}

.btn {
  height: calc(1.5em + .75rem + 2px);
}

.is-active {
  color: #000;
  border-bottom: 5px solid #007bff;
}