<main class="container">
  <section class="menu">
    <header class="d-flex justify-content-lg-end align-items-center">
      <h1 class="title">Time Tracker</h1>
      <button class="btn btn-primary" (click)="openCreateDialog()"><i class="fa fa-plus"></i> Add Task</button>
      <input type="text" placeholder="Search" class="form-control search">
    </header>
    <nav>
      <a #currentLink="routerLinkActive" routerLinkActive routerLink="current" [ngClass]="{'is-active': currentLink.isActive}" (click)="setNavActiveStatus(0)">Current</a>
      <a #archiveLink="routerLinkActive" routerLinkActive routerLink="archive" [ngClass]="{'is-active': archiveLink.isActive}" (click)="setNavActiveStatus(1)">Archive</a>
    </nav>
    <router-outlet></router-outlet>
  </section>
</main>